<center>
%h1.pagename Confirmation

%p BCEF has been notified of a new submission and your form will be processed within one business day.

= link_to 'Back To Dashboard', user_path(session[:user_id])
</center>
