<center>
%h1.pagename confirmation

%p You will recieve an email confirming your form submission and your form will be processed within 24 hours. <br />A copy of this from is also sent to BCEF.

= link_to 'Back To Dashboard', user_path(session[:user_id])
</center>
