%h1.pagename confirmation

%p You will recieve an email confirming your form submission and your form will be processed within 24 hours. 

= link_to 'Back To Dashboard', partner_path(session[:user_id])
