<center>
%h1.pagename Disclaimer

%button{:onclick => "document.getElementById('disclaimer').innerHTML = 'Thank you for connecting with Breast Cancer Emergency Fund!<br/><br/>All information you provide will be kept confidential and viewed only by qualified staff.<br/><br/>1. The following information will help BCEF determine if you qualify for financial assistance.<br/>2. Once we&#39;ve completed these questions, your info will be forwarded to BCEF.<br/>3. BCEF will then follow up directly with you to complete the next steps.<br/><br/>Please remember that this is a preliminary screening tool and referral. It is not a guarantee of funds.<br/>Only BCEF staff can confirm assistance and they will do so directly with you.<br/><br/>If you have any questions, please contact BCEF at 415-558-6999 ext. 229 or info@bcef.org'", :type => "button"}
  English

%button{:onclick => "document.getElementById('disclaimer').innerHTML = 'Esto mantendrá la exención de responsabilidad'", :type => "button"}
  Spanish

%button{:onclick => "document.getElementById('disclaimer').innerHTML = 'Это будет держать отказ'", :type => "button"}
  Russian

%button{:onclick => "document.getElementById('disclaimer').innerHTML = '這將舉辦免責聲明'", :type => "button"}
  Cantonese

%button{:onclick => "document.getElementById('disclaimer').innerHTML = 'Điều này sẽ tổ chức khuyến cáo'", :type => "button"}
  Vietnamese

%p#disclaimer <br /><strong>Thank you for connecting with Breast Cancer Emergency Fund!</strong><br/><br/>All information you provide will be kept confidential and viewed only by qualified staff.<br/><br/>1. The following information will help BCEF determine if you qualify for financial assistance.<br/>2. Once we&#39;ve completed these questions, your info will be forwarded to BCEF.<br/>3. BCEF will then follow up directly with you to complete the next steps.<br/><br/>Please remember that this is a preliminary screening tool and referral. It is not a guarantee of funds.<br/>Only BCEF staff can confirm assistance and they will do so directly with you.<br/><br/>If you have any questions, please contact BCEF at <strong>415-558-6999 ext. 229</strong> or <strong>info@bcef.org</strong>

= link_to 'Continue', new_form_path
</center>