<center>
%h1.pagename Disclaimer

%button{:onclick => "document.getElementById('disclaimer').innerHTML = '<br/><strong>Thank you for connecting with Breast Cancer Emergency Fund!</strong><br/><br/>All information you provide will be kept confidential and viewed only by qualified staff.<br/><br/>1. The following information will help BCEF determine if you qualify for financial assistance.<br/>2. Once we&#39;ve completed these questions, your info will be forwarded to BCEF.<br/>3. BCEF will then follow up directly with you to complete the next steps.<br/><br/>Please remember that this is a preliminary screening tool and referral. It is not a guarantee of funds.<br/>Only BCEF staff can confirm assistance and they will do so directly with you.<br/><br/>If you have any questions, please contact BCEF at <strong>415-558-6999 ext. 229</strong> or <strong>info@bcef.org</strong>'", :type => "button"}
  English

%button{:onclick => "document.getElementById('disclaimer').innerHTML = '<br/><strong>Gracias por la conexión con Breast Cancer Energency Fund!</strong><br/><br/>Toda la información que usted dio será confidencial y solamente visto por personal cualificado.<br/><br/>1. La siguiente información le ayudará BCEF a determinar si reúne los requisitos para recibir asistencia financiera.<br/>2. Después de hemos completado estas preguntas, su información será remitida a BCEF.<br/>3. Entonces, BCEF comunicarán directamente con usted para completar los pasos siguientes.<br/><br/>Por favor recuerde que esta es una herramienta de detección preliminar y remisión. No es una garantía de los fondos.<br/>Sólo el personal BCEF puede confirmar asistencia y lo harán directamente con usted.<br/><br/>Si usted tiene algunas preguntas, por favor póngase en contacto con BCEF al <strong>415-558-6999 ext. 229</strong> o <strong>info@bcef.org</strong>'", :type => "button"}
  Español

%p#disclaimer <br /><strong>Thank you for connecting with Breast Cancer Emergency Fund!</strong><br/><br/>All information you provide will be kept confidential and viewed only by qualified staff.<br/><br/>1. The following information will help BCEF determine if you qualify for financial assistance.<br/>2. Once we&#39;ve completed these questions, your info will be forwarded to BCEF.<br/>3. BCEF will then follow up directly with you to complete the next steps.<br/><br/>Please remember that this is a preliminary screening tool and referral. It is not a guarantee of funds.<br/>Only BCEF staff can confirm assistance and they will do so directly with you.<br/><br/>If you have any questions, please contact BCEF at <strong>415-558-6999 ext. 229</strong> or <strong>info@bcef.org</strong>

= link_to 'Continue in English', new_form_path

= link_to 'Continue in Spanish', forms_new_spanish_path
</center>
