%h1.pagename disclaimer

%p This will hold BCEF's "disclaimer" when they send it to us. As well as a language selector that modifies the view of the form on the following page. 


= link_to 'Continue', new_form_path
