<h1>Email Confirmation</h1>

<p>A new Intake Form has just been created with the following information:</p>

Prepared by: <%= @tuser.name %> <br />
Patient Name: <%= @tform.first_name %> <%= @tform.first_name %> <br />
Form ID: <%= @tform.id %><br />
