-# This file is app/views/admins/all_users.html.haml

=render 'layouts/header'

%h1{:class => 'text-center'} All Users:
%div{:class => 'container'}
  %div{:class => 'row'}
    %div{:class => 'col-md-9'}
      %table#users
        %thead
          %tr
            %th Name
            %th Deactivate?
          %tbody
            -@active_users.each do |user|
              %tr
                %td #{user.first_name} #{user.last_name}
                %td=button_to 'Deactivate?', deactivate_path, :method => :post, :deactivate => user.id

