-# This file is app/views/admins/all_users.html.haml

=render 'layouts/header'

%h1{:class => 'text-center'} All Users:
%div{:class => 'container'}
  %div{:class => 'row'}
    %div{:class => 'col-md-9'}
      %table#active_users
        %label Active Users
        %thead
          %tr
            %th{:width => 200} Name
            %th{:width => 200} Deactivate?
          %tbody
            -@active_users.each do |user|
              %tr
                %td #{user.name}
                %td=button_to 'Deactivate?', admins_deactivate_path(:deactivate => user.id), :method => :post
      %p
      %table#inactive_users
        %thead
          %label Inactive Users
          %tr
            %th{:width => 200} Name
            %th{:width => 200} Reactivate?
          %tbody
            -@inactive_users.each do |user|
              %tr
                %td #{user.name}
                %td=button_to 'Reactivate?', admins_deactivate_path(:reactivate => user.id), :method => :post

