-#  This file is app/views/partners/show.html.haml

=render 'layouts/header'

=render 'layouts/user_header'

%div{:class => 'container'}
    = button_to 'New Client Form', static_pages_disclaimer_path, :method => :get, :class => "btn btn-default"

=render 'layouts/forms_table_partner'

=render 'layouts/footer'
