=render 'static_pages/header'

%h1.pagename #{Partner.find(session[:user_id]).name}

%p User dashboard:

Useful information here

= button_to 'New Client Form', static_pages_disclaimer_path, :method => :get
