-#  This file is app/views/partners/show.html.haml

=render 'layouts/header'

=render 'layouts/user_header'

  %p Avaliable functions:

  = button_to 'New Client Form', static_pages_disclaimer_path, :method => :get, :class => "btn btn-primary"

=render 'layouts/forms_table_partner'

=render 'layouts/footer'
