-#  This file is app/views/staff/show.html.haml

=render 'layouts/header'

=render 'layouts/user_header'

%div{:class => 'container'}
  = button_to 'New Client Form', static_pages_disclaimer_path, :method => :get, :class => "btn btn-default"
  %br

=render 'layouts/forms_table'

=render 'layouts/footer'
