-#  This file is app/views/staff/show.html.haml

=render 'layouts/header'

=render 'layouts/user_header'

= render 'layouts/forms_table'

%br
= button_to 'New Client Form', static_pages_disclaimer_path, :method => :get
%br


=render 'layouts/footer'
