<footer class="footer" style="border-top:solid 1px #eaeaea; margin-top: 45px; padding-top: 5px; color: #777">
  <div align="center"><small>
    Copyright 2015 by BCEF - Made by CS169 Group 8 Berkeley
  </small>
  </div>
</footer>